<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TaxPayerTestNG.positiveTest"/>
      <!--<class name="TaxPayerTestNG.positiveTest.xpath_loc"/>
      <class name="TaxPayerTestNG.positiveTest.name"/>
      <class name="TaxPayerTestNG.positiveTest.inputForm"/>
      <class name="TaxPayerTestNG.positiveTest.identifier"/>
      <class name="TaxPayerTestNG.positiveTest.expct"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
